:root {
    --scroll-start: 0;
    --gap: 90px;
    --scroll-end: calc(-100% - var(--gap));
    --duration: 60s
}

.marquee-wrapper {
    margin: auto;
    max-width: 100vw;
}

.marquee {
    display: flex;
    gap: 90px;
}

.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
    min-width: 100%;
    animation: scroll-left var(--duration) linear infinite;
}


@keyframes scroll-left{
    from {
        transform: translateX(var(--scroll-start));
    }
    to {
        transform: translateX(var(--scroll-end));
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        animation-play-state: paused;
    }
}